.best-seller {
  width: 100%;
  height: 403px;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 20px;

  .best-seller-center {
    width: 80%;
    height: inherit;
    border: 1px solid lightgrey;
    border-radius: 15px;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    .best-seller-text {
      width: 100%;
      height: 65px;

      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      padding-top: 5px;
      .right {
        width: 90%;
        height: inherit;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        column-gap: 12px;
        span {
          color: #0c0c0c;
          font-size: 21px;
          font-family: var(--fontfamily);
        }
      }
      .left {
        width: 10%;
        height: inherit;

        a {
          color: #19bfd3;
          font-size: 14px;
          font-family: var(--fontfamily);
          line-height: 65px;
          text-decoration: none;
          padding-right: 25px;
        }
      }
    }
    .best-seller-item {
      width: 100%;
      height: 338px;

      .swiper {
        width: 100%;
        height: 100%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        .center-slide {
          width: inherit;
          height: inherit;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;

          .best-seller-slide {
            width: inherit;
            height: calc(100% / 3);

            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: center;
            font-family: var(--fontfamily);

            img {
              width: 80px;
              height: 80px;
            }
            span {
              width: 10%;
              height: 90px;
              color: #19bfd3;
              font-size: 26px;
              line-height: 92.14px;
              font-weight: bold;
              padding: 0 5px;
            }
            .content {
              width: 55%;
              height: 100%;
              display: flex;
              flex-flow: row wrap;
              align-items: center;
              justify-content: center;
              p {
                
                color: #3f4064;
                font-size: 12px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 25px;
              }
            }
          }
        }
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.border-bottom {
  border-bottom: 1px solid lightgrey;
}
