@import "./setting.css";
@import "./header.css";
@import "./story.css";
@import "./slider.css";
@import "./items.css";
@import "./offer.css";
@import "./supermarket.css";
@import "./banner.css";
@import "./category.css";
@import "./banner-second.css";
@import "./brand.css";
@import "./banner-third.css";
@import "./manner.css";
@import "./club.css";
@import "./best-seller.css";
@import "./full-banner.css";
@import "./product.css";